<div class="container-fluid">
    <div class="navbar navbar-expand-lg navbar-light bg-primary text-white">
        <div class="row">
            <div class="col">
                <h1 class="m-2">{{title}}</h1>
            </div>
        </div>
        <div class="col">
            <a class="btn btn-success m-2" routerLink="formulario">Cadastrar Divida</a>
            <a class="btn btn-warning" routerLink="/">Listar Dividas</a>
        </div>
    </div>
    <div class="container">
        <hr>
        <router-outlet></router-outlet>
    </div>
</div>
